In [5]:
import pandas as pd
from sqlalchemy import create_engine
import requests as res

In [126]:
url='https://api.nbp.pl/api/exchangerates/tables/A'

In [127]:
urlData=res.get(url).json()

In [182]:
date=urlData[0]['effectiveDate']

In [131]:
kursy=urlData[0]['rates']

In [132]:
df=pd.DataFrame(kursy)

In [134]:
print(df)

                               currency code       mid
0                       bat (Tajlandia)  THB  0.113000
1                     dolar amerykański  USD  3.668600
2                    dolar australijski  AUD  2.374400
3                       dolar Hongkongu  HKD  0.467400
4                      dolar kanadyjski  CAD  2.669500
5                   dolar nowozelandzki  NZD  2.173600
6                     dolar singapurski  SGD  2.852800
7                                  euro  EUR  4.255900
8                        forint (Węgry)  HUF  0.010654
9                     frank szwajcarski  CHF  4.566200
10                       funt szterling  GBP  4.919500
11                     hrywna (Ukraina)  UAH  0.087600
12                        jen (Japonia)  JPY  0.024687
13                        korona czeska  CZK  0.172700
14                        korona duńska  DKK  0.570300
15                     korona islandzka  ISK  0.029929
16                      korona norweska  NOK  0.355900
17                      korona szwedzka  SEK  0.376400
18                         lej rumuński  RON  0.839000
19                       lew (Bułgaria)  BGN  2.176000
20                         lira turecka  TRY  0.090800
21                nowy izraelski szekel  ILS  1.093800
22                      peso chilijskie  CLP  0.003790
23                     peso filipińskie  PHP  0.064000
24                    peso meksykańskie  MXN  0.195200
25  rand (Republika Południowej Afryki)  ZAR  0.205100
26                      real (Brazylia)  BRL  0.658800
27                    ringgit (Malezja)  MYR  0.863400
28                   rupia indonezyjska  IDR  0.000225
29                       rupia indyjska  INR  0.042665
30              won południowokoreański  KRW  0.002639
31                yuan renminbi (Chiny)  CNY  0.511100
32                            SDR (MFW)  XDR  5.004600

In [135]:
df['mid']=df['mid'].apply(lambda x: round(x,2))

In [143]:
df['date']=date

In [144]:
df

                               currency code   mid        date
0                       bat (Tajlandia)  THB  0.11  2025-07-17
1                     dolar amerykański  USD  3.67  2025-07-17
2                    dolar australijski  AUD  2.37  2025-07-17
3                       dolar Hongkongu  HKD  0.47  2025-07-17
4                      dolar kanadyjski  CAD  2.67  2025-07-17
5                   dolar nowozelandzki  NZD  2.17  2025-07-17
6                     dolar singapurski  SGD  2.85  2025-07-17
7                                  euro  EUR  4.26  2025-07-17
8                        forint (Węgry)  HUF  0.01  2025-07-17
9                     frank szwajcarski  CHF  4.57  2025-07-17
10                       funt szterling  GBP  4.92  2025-07-17
11                     hrywna (Ukraina)  UAH  0.09  2025-07-17
12                        jen (Japonia)  JPY  0.02  2025-07-17
13                        korona czeska  CZK  0.17  2025-07-17
14                        korona duńska  DKK  0.57  2025-07-17
15                     korona islandzka  ISK  0.03  2025-07-17
16                      korona norweska  NOK  0.36  2025-07-17
17                      korona szwedzka  SEK  0.38  2025-07-17
18                         lej rumuński  RON  0.84  2025-07-17
19                       lew (Bułgaria)  BGN  2.18  2025-07-17
20                         lira turecka  TRY  0.09  2025-07-17
21                nowy izraelski szekel  ILS  1.09  2025-07-17
22                      peso chilijskie  CLP  0.00  2025-07-17
23                     peso filipińskie  PHP  0.06  2025-07-17
24                    peso meksykańskie  MXN  0.20  2025-07-17
25  rand (Republika Południowej Afryki)  ZAR  0.21  2025-07-17
26                      real (Brazylia)  BRL  0.66  2025-07-17
27                    ringgit (Malezja)  MYR  0.86  2025-07-17
28                   rupia indonezyjska  IDR  0.00  2025-07-17
29                       rupia indyjska  INR  0.04  2025-07-17
30              won południowokoreański  KRW  0.00  2025-07-17
31                yuan renminbi (Chiny)  CNY  0.51  2025-07-17
32                            SDR (MFW)  XDR  5.00  2025-07-17

In [148]:
engine=create_engine("postgresql://postgres:qwerty1234@localhost:5432/postgres")

In [152]:
pd.read_sql("select * from karta" ,engine)

     karta  idklienta   status  liczbapunktow
0     1001          1  aktywna            616
1     1002          2  aktywna            951
2     1003          3  aktywna            322
3     1004          4  aktywna            634
4     1005          5  aktywna            987
..     ...        ...      ...            ...
495   1496        496  aktywna            333
496   1497        497  aktywna              1
497   1498        498  aktywna            374
498   1499        499  aktywna            292
499   1500        500  aktywna            836

[500 rows x 4 columns]

In [171]:
dataWBazie=pd.read_sql('select max(date) from kursy_walut',engine)

In [176]:
dataWBazie=str(dataWBazie['max'][0])

In [253]:
zBazy=pd.read_sql('select currency,code,mid,date from kursy_walut',engine)

In [256]:
zBazy=zBazy.set_index('currency')
zBazy=zBazy.sort_index()
df=df.set_index('currency')
df=df.sort_index()

# print()

KeyError: "None of ['currency'] are in the columns"

In [261]:
nowy=zBazy.compare(df)

In [262]:
print(nowy)

                 mid
                self other
currency
bat (Tajlandia)  1.0  0.11

In [267]:
for index,wiersz in nowy.iterrows():
    print(index,wiersz)
    nowy2=wiersz[('mid','self')]
    inx=index

bat (Tajlandia) mid  self     1.00
     other    0.11
Name: bat (Tajlandia), dtype: float64

In [268]:
print(nowy2)
print(inx)

1.0
bat (Tajlandia)

In [225]:
print(df.sort_values('currency'))

                               currency code   mid        date
32                            SDR (MFW)  XDR  5.00  2025-07-17
0                       bat (Tajlandia)  THB  0.11  2025-07-17
3                       dolar Hongkongu  HKD  0.47  2025-07-17
1                     dolar amerykański  USD  3.67  2025-07-17
2                    dolar australijski  AUD  2.37  2025-07-17
4                      dolar kanadyjski  CAD  2.67  2025-07-17
5                   dolar nowozelandzki  NZD  2.17  2025-07-17
6                     dolar singapurski  SGD  2.85  2025-07-17
7                                  euro  EUR  4.26  2025-07-17
8                        forint (Węgry)  HUF  0.01  2025-07-17
9                     frank szwajcarski  CHF  4.57  2025-07-17
10                       funt szterling  GBP  4.92  2025-07-17
11                     hrywna (Ukraina)  UAH  0.09  2025-07-17
12                        jen (Japonia)  JPY  0.02  2025-07-17
13                        korona czeska  CZK  0.17  2025-07-17
14                        korona duńska  DKK  0.57  2025-07-17
15                     korona islandzka  ISK  0.03  2025-07-17
16                      korona norweska  NOK  0.36  2025-07-17
17                      korona szwedzka  SEK  0.38  2025-07-17
18                         lej rumuński  RON  0.84  2025-07-17
19                       lew (Bułgaria)  BGN  2.18  2025-07-17
20                         lira turecka  TRY  0.09  2025-07-17
21                nowy izraelski szekel  ILS  1.09  2025-07-17
22                      peso chilijskie  CLP  0.00  2025-07-17
23                     peso filipińskie  PHP  0.06  2025-07-17
24                    peso meksykańskie  MXN  0.20  2025-07-17
25  rand (Republika Południowej Afryki)  ZAR  0.21  2025-07-17
26                      real (Brazylia)  BRL  0.66  2025-07-17
27                    ringgit (Malezja)  MYR  0.86  2025-07-17
28                   rupia indonezyjska  IDR  0.00  2025-07-17
29                       rupia indyjska  INR  0.04  2025-07-17
30              won południowokoreański  KRW  0.00  2025-07-17
31                yuan renminbi (Chiny)  CNY  0.51  2025-07-17

In [184]:
if(date>dataWBazie):
    df.to_sql(name='kursy_walut',con=engine,if_exists='append')

'2025-07-17'

In [198]:
# df['currency']
dataWBazie=pd.read_sql('select currency from kursy_walut',engine)
dataWBazie=str(dataWBazie['currency'])

In [201]:
if df['currency']==dataWBazie:
    print(1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [204]:
df['currency']

0                         bat (Tajlandia)
1                       dolar amerykański
2                      dolar australijski
3                         dolar Hongkongu
4                        dolar kanadyjski
5                     dolar nowozelandzki
6                       dolar singapurski
7                                    euro
8                          forint (Węgry)
9                       frank szwajcarski
10                         funt szterling
11                       hrywna (Ukraina)
12                          jen (Japonia)
13                          korona czeska
14                          korona duńska
15                       korona islandzka
16                        korona norweska
17                        korona szwedzka
18                           lej rumuński
19                         lew (Bułgaria)
20                           lira turecka
21                  nowy izraelski szekel
22                        peso chilijskie
23                       peso filipińskie
24                      peso meksykańskie
25    rand (Republika Południowej Afryki)
26                        real (Brazylia)
27                      ringgit (Malezja)
28                     rupia indonezyjska
29                         rupia indyjska
30                won południowokoreański
31                  yuan renminbi (Chiny)
32                              SDR (MFW)
Name: currency, dtype: object

In [ ]:
for a in dane:
    print(a)

In [160]:
pd.read_sql("Select * from kursy_walut",engine)

    index                             currency code   mid        date
0       0                      bat (Tajlandia)  THB  0.11  2025-07-17
1       1                    dolar amerykański  USD  3.67  2025-07-17
2       2                   dolar australijski  AUD  2.37  2025-07-17
3       3                      dolar Hongkongu  HKD  0.47  2025-07-17
4       4                     dolar kanadyjski  CAD  2.67  2025-07-17
5       5                  dolar nowozelandzki  NZD  2.17  2025-07-17
6       6                    dolar singapurski  SGD  2.85  2025-07-17
7       7                                 euro  EUR  4.26  2025-07-17
8       8                       forint (Węgry)  HUF  0.01  2025-07-17
9       9                    frank szwajcarski  CHF  4.57  2025-07-17
10     10                       funt szterling  GBP  4.92  2025-07-17
11     11                     hrywna (Ukraina)  UAH  0.09  2025-07-17
12     12                        jen (Japonia)  JPY  0.02  2025-07-17
13     13                        korona czeska  CZK  0.17  2025-07-17
14     14                        korona duńska  DKK  0.57  2025-07-17
15     15                     korona islandzka  ISK  0.03  2025-07-17
16     16                      korona norweska  NOK  0.36  2025-07-17
17     17                      korona szwedzka  SEK  0.38  2025-07-17
18     18                         lej rumuński  RON  0.84  2025-07-17
19     19                       lew (Bułgaria)  BGN  2.18  2025-07-17
20     20                         lira turecka  TRY  0.09  2025-07-17
21     21                nowy izraelski szekel  ILS  1.09  2025-07-17
22     22                      peso chilijskie  CLP  0.00  2025-07-17
23     23                     peso filipińskie  PHP  0.06  2025-07-17
24     24                    peso meksykańskie  MXN  0.20  2025-07-17
25     25  rand (Republika Południowej Afryki)  ZAR  0.21  2025-07-17
26     26                      real (Brazylia)  BRL  0.66  2025-07-17
27     27                    ringgit (Malezja)  MYR  0.86  2025-07-17
28     28                   rupia indonezyjska  IDR  0.00  2025-07-17
29     29                       rupia indyjska  INR  0.04  2025-07-17
30     30              won południowokoreański  KRW  0.00  2025-07-17
31     31                yuan renminbi (Chiny)  CNY  0.51  2025-07-17
32     32                            SDR (MFW)  XDR  5.00  2025-07-17